.App {
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  font-weight: 800;
  
  padding: 0.6rem;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  margin: 10px 20px;
}

header nav {
  display: flex;
  min-width: 270px;
  justify-content: space-between;
  align-items: center;
  gap:1.5vw;
}

header nav a {
  text-decoration: none;
  color: inherit;
}



button,
input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 2px;
}



form {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: fit-content;

}
form>div{
  display: flex;
  align-items: center;
}
svg {
  padding: 5px;
}


ol,
ul {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  /* padding: 0 2rem; */
}

li {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
  text-align: center;
  flex-direction: column;
  position: relative;
  height: 30px;
  margin: 20px auto;

}
li span:first-child{
  font-weight: 800;
}

li svg{
  position: absolute;
  top:0;
  right:0;
}
label{
  font-size: 17px;
  font-weight: 500;  
}

input,
select, textarea {
  min-width:12ch;
  padding: 0.5rem;
  border: 2px solid;
  /* background: ; */
  border-radius: 5px;
  margin:3px;

}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  white-space: pre-wrap;
  overflow-x: scroll;
  }
textarea{
  resize: none;
}
.formToUpdate form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.secondaryBtn {
  background-color: #fff;
  color: #111;
}

button {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid black;
  font-weight: bold;
  margin: 3px;
}


.detailsCard p{
  text-align: left;
  max-width: fit-content;
}
.detailsCard div{
  width:50vmax;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
}
.contain{
  display: flex;
  justify-content: space-evenly;
}
